body { background: #102535; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 48px; display: flex; }
.block-payment-0 { color: #ab1cc4; font-size: 16px; margin-bottom: 5px; }
.block-token-1 { color: #ebf63e; font-size: 14px; margin-bottom: 5px; }
.block-helper-2 { color: #6faf59; font-size: 19px; margin-bottom: 5px; }
.block-config-3 { color: #ed865c; font-size: 13px; margin-bottom: 5px; }
.block-config-4 { color: #1a0bc7; font-size: 20px; margin-bottom: 5px; }